#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: minmax(0px, auto);
    background-color: #cecccc;
    padding: 10px;
    
}

 
 
#frame7 {
    grid-row: 1/2;
    grid-column: 2/8;
    background-color: #333;
    color: #FFFF;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

#frame7 img {
    height: 104px;
    width: 126px;
    
}
h1 {
    margin: 0;
}
nav {
    flex: 1;
    display: flex;
    justify-content: center;
}
 
 
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: inline-block;
}
 
nav a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
}

 
#frame8 {
    grid-row: 2/3;
    grid-column: 2/8;
    background-color: #FFF;
    
}
 
 
.hero img {
    width: 100%;
    object-fit: fill;
    height: 100%;
}

#frame9 {
    grid-row: 3/4;
    grid-column: 2/8;
    background-color: #FFF;
    padding: 0px 20px;
    text-align: center;
}

.services h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
}

 .service-item {
    text-align: left;
    font-size: 1rem;
    padding: 20px;
    background-color: white;
}

.service-item img {
    width: 100%;
}
 
 
#frame11 {
    grid-row: 4/5;
    grid-column: 2/8;
    display: flex;
    gap: 40px;
    padding: 60px 20px;
    align-items: center;
    justify-content: space-between;
    background-color:  #F3F1F1;
}
 
.about img {
    max-width: 45%;
    flex: 0 0 45%;
}

.about p {
    line-height: 1.8;
    width: 70%;
    font-size: 20px;
}
.about-content {
    flex: 1;
    max-width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 
.about-content h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
    width: 70%;
}

#footer {
    grid-row: 5/6;
    grid-column: 2/8;
    background-color: #272525;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
 
footer p {
    font-size: 1rem;
}
 